__pycache__/
*.py[cod]
*$py.class

venv/
.env/

.ipynb_checkpoints/

*.log
*.sqlite3

.env
*.env
*.parquet
*.h5
*.pkl
*.joblib
*.csv
*.json

.vscode/
.idea/
*.iml

data/
results/
models/

*.c
*.so


*.exe
*.bat
